@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body, html {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.bg-custom {
    background-color: #f7f7f7 !important;
}
/* Custom CSS to adjust image size and button color */

.card{
    background-color: #fff !important;
    background-position: center;
}
.card img {
    height: 150px; /* Adjust the height as needed */
    object-fit: contain; /* Keep aspect ratio */
    background-position: center;
}

.btn-primary {
    background-color: #ed5c61; /* Change button color */
    border-color: #C1282E;
}

.btn-primary:hover {
    background-color: #ed5c61; /* Change button hover color */
    border-color: #ed5c61;
}


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding:50px 120px;
    background: #2C333B;
  
  }
  
  footer .footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.75fr 1fr;
    grid-gap: 20px;
  }
  
  footer .footer-container .footer h2{
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  footer .footer-container .footer h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background:#C1282E;
  }
  
  footer .footer-container .footer p{
    color: #fff;
  }
  
  .sci{
    margin-top: 20px;
    display: grid;
  }
  
  .sci li{
    list-style: none;
  }
  
  .sci li a{
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
  }
  
  .footer-products{
    position: relative;
  }
  
  .footer-products li{
    list-style: none;
  }
  
  .footer-products li a {
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .footer-products li a:hover{
    color:#C1282E;
  }
  
  .otherProducts{
    position: relative;
    margin-top: 35px;
  }
  
  .otherProducts li{
    list-style: none;
  }
  
  .otherProducts li a {
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .otherProducts li a:hover{
    color:#C1282E;
  }
  
  .otherLinks{
    position: relative;
  }
  
  .otherLinks li{
    list-style: none;
  }
  
  .otherLinks li a {
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .otherLinks li a:hover{
    color: #C1282E;
  }
  
  .copyright{
    width: 100%;
    background:  #2C333B;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
  }
  
  /* responsive */
  @media (max-width:991px){
    footer{
      padding: 40px;
    }
  
    footer .footer-container{
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  @media (max-width:768px){
    footer .footer-container{
      grid-template-columns: 1fr;
    }
    .otherProducts{
      position: relative;
      margin-top: 10px;
    }
    .copyright{
      padding: 8px 40px;
    }
  
  }

  
/*=============== VARIABLES CSS ===============*/

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: ##F7F7F7;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color:#F7F7F7;
  overflow-x:hidden ;
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 16px hsla(225, 9%, 91%, 0.3);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav__logo,
.nav__burger,
.nav__close {
  color: #c1282e;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  margin-left: 15px;
  font-weight: var(--font-semi-bold);
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.75rem;
  cursor: pointer;
  margin-right: 15px;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: white;
    padding-top: 1rem;
  }
}

.nav__link {
  color: #c1282e;
  background-color: white;
  font-weight: 500;
  padding: 1.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.navHeader {
  font-size: 25px;
}

.nav__link:hover {
  color: #2c333b;
}

.nav__link.active {
  text-decoration: underline;
}

.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 0.75rem 0.7rem;
  color: #c1282e;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: black 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  color: #2c333b;
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  border: 1px solid black;
  padding-left: 0px !important;
}

.dropdown__menu {
  display: grid !important;
  grid-template-columns: repeat(2, auto) !important;
  gap: 0rem !important; /* Adjust the gap between columns */
}

.dropdown__column {
  flex: 1 1 50%;
}

.dropdown__menu {
  border: 1px solid black;
  margin-left: none !important;
}

.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }

  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }

  .dropdown__menu {
    border: 1px solid black;
    margin-left: none !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .nav__data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__toggle {
    margin-right: 5px;
  }
  .dropdown__menu {
    flex-wrap: nowrap;
    border: none !important;
  }
  .dropdown__column {
    flex: 1 1 100%;
    border: 1px solid black !important;
    padding-right:0px;
  }
}

@media screen and (max-width: 540px) {
  .nav__menu {
    top: 3.5rem;
    height: calc(100vh - 3.5rem);
  }

  .dropdown__menu {
    flex-wrap: nowrap;
    border: none !important;
  }

  .dropdown__column {
    flex: 1 1 100%;
    border: 1px solid black !important;
    padding-right:0px;
  }

  .nav__toggle {
    position: absolute;
    right: 20px;
    top: 5;
    display: block;
    font-size: 2rem;
  }

  .nav__list {
    flex-direction: column;
    padding-top: 0;
    background-color: #ffffff;
  }

  .nav__link {
    padding: 1rem;
    justify-content: initial;
  }

  .nav__link.active {
    text-decoration: none;
  }

  .dropdown__menu,
  .dropdown__submenu {
    top: 3.5rem;
  }

  .dropdown__submenu {
    left: 0;
  }

  .navHeader {
    font-size: 15px;
  }

  .breadcrumbs-panel {
    margin-top: 2px;;
    border-top: 0.5px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    background-color: #f7f7f7;
  }
  .breadcrumb{
    background-color: #F7F7F7 !important;
  }
  .bg-dark.text-light.pt-5.px-3.mt-5 {
    padding-top: 20px !important; /* Adjust the top padding as needed */
   
    margin-top: 50px !important; /* Adjust the top margin as needed */
    padding-left: 10px !important;
}
}

@media screen and (max-width: 438px) {
  .nav__menu {
    top: 3.5rem;
    height: calc(100vh - 3.5rem);
  }

  .dropdown__menu {
    flex-wrap: nowrap;
    border: none !important;
  }

  .dropdown__column {
    flex: 1 1 100%;
    border: 1px solid black !important;
    padding-right:0px;
  }

  .nav__toggle {
    position: absolute;
    right: 20px;
    top: 5;
    display: block;
    font-size: 2rem;
  }

  .nav__list {
    flex-direction: column;
    padding-top: 0;
    background-color: #ffffff;
  }

  .nav__link {
    padding: 1rem;
    justify-content: initial;
  }

  .nav__link.active {
    text-decoration: none;
  }

  .dropdown__menu,
  .dropdown__submenu {
    top: 3.5rem;
  }

  .dropdown__submenu {
    left: 0;
  }

  .navHeader {
    font-size: 15px;
  }
  
}
#price{
  border-bottom: 4px black solid;
  color: black;
}

  .heading2 {
    font-size: 30px;
    margin-top: 78px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    padding-left: 195px;
    text-align: left;
    background-color: #2C333B;
    padding-bottom: 10px;
    margin-bottom: none;
    color: #fff;
  }
  @media screen and (max-width: 1080px){
    .heading2{
        margin-top:35px !important; 
        text-align: left !important;
        padding-left: 45px !important;

    }
  }

  @media screen and (max-width: 992px){
    .heading2{
        margin-top:35px !important; 
        text-align: left !important;
        padding-left: 50px !important;

    }
  }

  @media screen and (max-width: 913px){
    .heading2{
        margin-top:35px !important; 
        text-align: left !important;
        padding-left: 100px !important;

    }
  }
  @media screen and (max-width: 854px){
    .heading2{
        margin-top:35px !important; 
        text-align: left !important;
        padding-left: 80px !important;

    }
  }
  @media screen and (max-width: 768px) {
    .heading2 {
        margin-top: 25px !important;
     text-align: center !important;
      padding-left: 40px !important;
      font-size: 26px !important;
    }

    .mt-2 {
      margin-top: 0 !important;
    }
    .mb-5 {
      margin-bottom: 0 !important;
    }
  }
  
  @media screen and (max-width: 576px) {
    .heading2 {
        margin-top : 50px !important;
        text-align: left !important;
        padding-left: 20px !important;
      font-size: 20px !important;
    }
    h2{
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 376px) {
    .heading2 {
        padding-left: 20px !important;
        padding-bottom: 5px !important;
    text-align: left !important;
      font-size: 20px !important;
    }
   

    .mt-2 {
      margin-top: 0 !important;
    }
    .mb-5, .my-5{
      margin-bottom: 1rem !important;
    }
     .py-5{
        padding-top: 0px !important;
      }
  }